.container {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 40px;
    overflow: hidden;
    background-color: #EFE8DD;
    border-bottom: 1px solid #E2D7C8;
    align-items: center;
    -webkit-app-region: drag;
}

.logo {
    position: absolute;
    width: auto;
    height: 28px;
    left: 6px;
    user-select: none;
}

.filename {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Segoe UI", "Inter", "sans-serif", Arial;
    font-size: 14px;
    font-weight: normal;
    color: #7A7065;
    user-select: none;
}

.windowControls {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    align-items: center;
    -webkit-app-region: no-drag;
}

.windowControls .button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    -webkit-app-region: no-drag;
    transition: all 0.1s ease-out;
}

.windowControls .button img {
    width: 36px;
    height: 36px;
    filter: brightness(0) saturate(100%) invert(19%) sepia(5%) saturate(1832%) hue-rotate(349deg) brightness(102%) contrast(79%);
    pointer-events: none;
    user-select: none;
}

.windowControls .button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.windowControls .button:active {
    background-color: rgba(0, 0, 0, 0.15);
}

.windowControls .close:hover {
    background-color: #E81123;
}

.windowControls .close:hover img {
    filter: brightness(0) invert(1);
}

.windowControls .close:active {
    background-color: #b10c1a;
}

.windowControls .close:active img{
    filter: brightness(0) invert(1);
}