.container {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #F3EEE6;
    border: 1px solid #DDD3C5;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    -webkit-app-region: no-drag;
}

.menuItems {
    display: flex;
    height: 30px;
}

.button {
    width: auto;
    height: 30px;
    padding: 0 5px;
    margin: 0;
    border: none;
    outline: none;
    background: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #2C2723;
    transition: background-color 0.1s ease-out;
    cursor: pointer;
    -webkit-app-region: no-drag;
    user-select: none;
}

.settings {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.settings img {
    width: 20px;
    height: 20px;
    filter: brightness(0) saturate(100%) invert(8%) sepia(4%) saturate(3693%) hue-rotate(344deg) brightness(89%) contrast(80%);
    pointer-events: none;
    user-select: none;
    transition: transform 0.15s ease-out;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.button:active {
    background-color: rgba(0, 0, 0, 0.15);
}

.settings:hover img{
    transform: rotate(-90deg) scale(0.9);
}